.root {
    --primary-color:#4caf50;
    --secondary-color:#fff;
    --background-color:#635762;
    --card-background-color:#fff;
    --card-shadow:rgba(0,0,0,0.2);
}

body{
    background-color:azure ;
    font-family:Roboto, sans-serif;
    margin:0;
    padding:1rem;
}

main{
    width: 80%;
    margin: auto;
    padding: 1.2rem;;
}

nav{background-color: #4caf50;
    text-align: center;
    list-style:none;
    padding: 0.5rem 0;
    width: 100%;
    position:sticky;
    top:0;
    /* position: fixed;
    top:0;
    left: 0; */
 
}

#Intro{
    background-image: url(/Immage/Cover.jpg);
    margin: auto;
    padding:0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.intro_title{
    font-size: 3rem;
    color:#fff; 
}
.intro_discrip{
    font-size: 2rem;
    color:chartreuse;
}

#MySelf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0.5em;
}

#Contact h3{
    text-align: center;
}

.card{    
    background-color:white;
    border-radius:1rem;
    margin: 0.5rem;
    padding:0.5rem;
    box-shadow:0 0.2rem 0.4rem;
}

nav ul{
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    gap: 2rem;

}

nav ul li a
{color:#fff;
font-size:large;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: 700;
font-style: italic;
font-weight:1000;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
/* border-top: 0.2rem red solid;
padding-top: 0.5rem;
display:inline-block; */

}

h3{
    font-size: 2rem;
    font-weight:700;
    font-style: italic;
    font-family: "Roboto", serif;
    text-transform:capitalize;
    line-height: normal;
}

nav, header, ul{
    margin: 0 0.9;
    padding: 0.5rem;
}

    ul{
        list-style: none;
    }

    h3{
        color:#4caf50;
    }


table, th, td {border: 1px solid #ddd;
    border-collapse: collapse;
    padding:3px;
    text-align: center;
}
th{background-color: #f5d3f3;}

table{
    width: 100%;
}

button:hover{
    background-color:red;
}

h1::first-letter{

    color:aqua;
}

.footer{ background-color:#4caf50;
    font-weight: 700;
    color:#ffffff;
    width:100%;
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-top: -1rem;
    /* padding: 0.5rem 0;
    position: fixed;
    bottom: 0; */
}

.social-media{
    color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction:none;
    justify-content: center;
    height:5rem;
    width: 15rem;
    padding: 0;
    margin: 0;
}

.social-media ul{
    display: flex;
    flex-direction: none;
    gap: 1rem;
    justify-self: center;

}
.social-media p{
   text-align: center;

}

button{
    background-color:#4caf50;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    display:inline;

}

input, select, textarea{
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

/* Responsiveness Start here */

@media screen and (max-width:1200px) {
   

}

@media screen and (max-width:900px) {
    #Intro{
        height: 20vh;
        background-image:none;
    }

}

@media screen and (max-width:768px) {
    body{
        background-color:aqua ;
    }
    .intro_title{
        font-size: 3rem;
        color:black;
}
.intro_discrip{
    font-size: 2rem;
    color:red;
}

.footer{
    display: flex;
    flex-direction: column;
}
nav ul{
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;

}

}


@media screen and (max-width:600px)
{
    body{
        background-color: rgb(57, 54, 54);
    }
    
}



/* .parent{
    background-color: red;
    height: 10rem;
    position: relative;
}
.child{
    text-align:center;
    background-color: green;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
} */

/* .parent{
    background-color:red;
    height: 30rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

/* .child{
    background-color: green;
    margin: 1rem;
    height: 8rem;
    width: 8rem; 
} */