.root {
    --primary-color:#4caf50;
    --secondary-color:#fff;
    --background-color:#635762;
    --card-background-color:#fff;
    --card-shadow:rgba(0,0,0,0.2);
}

body{
    background-color:azure ;
    font-family:Roboto, sans-serif;
    margin:0;
    padding:1rem;
}

main{
    width: 80%;
    margin: auto;
    padding: 1.2rem;;
}

nav{background-color: #4caf50;
    text-align: center;
    list-style:none;
    padding: 0.5rem 0;
    width: 100%;
}

#Intro{
    background-image: url(/Immage/Cover.jpg);
    margin: auto;
    padding:0.5rem;
    text-align:left;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color:#4caf50;
}


.card{    
    background-color:white;
    border-radius:1rem;
    margin: 0.5rem;
    padding:0.5rem;
    box-shadow:0 0.2rem 0.4rem;
}


a[href]{color:blueviolet;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: 700;
font-style: italic;
font-weight:1000;
font-style: italic;
font-family: 'Times New Roman', Times, serif;

}



h3{
    font-size: 2rem;
    font-weight:700;
    font-style: italic;
    font-family: "Roboto", serif;
    text-transform:capitalize;
    line-height: normal;
}

nav, header, ul{
    margin: 0 0.9;
    padding: 0.5rem;
}

    ul{
        list-style: none;
    }

    h3{
        color:#4caf50;
    }


table, th, td {border: 1px solid #ddd;
    border-collapse: collapse;
    padding:3px;
    text-align: center;
}
th{background-color: #f5d3f3;}

table{
    width: 100%;
}

button:hover{
    background-color:red;
}

h1::first-letter{

    color:aqua;
}

footer{ background-color: #4caf50;
    font-weight: 700;
    color:#fffdfd;
    text-align: center;
    width: 100%;
    padding: 1rem;;
}

.social-media a{
    color: var(--secondary-color);
    font-size: 1rem;
}


button{
    background-color:#4caf50;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    display: block;

}

input, select, textarea{
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;

}
